:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #00002b;
  --accent-color: #db00ff;
  --highlight-color: #ff0070;
  --main-font: "IBM Plex Mono", monospace;
  --color-heading: #000028;
  --color-text: #f1b2ce;
  --color-section: #ff0070;
  --color-shadow: #ff0070;

  .rec-decorator {
    display: flex;
  }
}
