:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #ffeef6;
  --accent-color: #ffc2e6;
  --highlightColor: #ff8bcd;
  --main-font: "IBM Plex Mono", monospace;
  --color-heading: #353430;
  --color-text: #353430;
  --color-section: #353430;
  --color-shadow: #ff8dcb;

  .rec-decorator {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #ffeef6;
    --accent-color: #ffc2e6;
    --highlightColor: #ff8bcd;
    --main-font: "IBM Plex Mono", monospace;
    --color-heading: #353430;
    --color-text: #353430;
    --color-section: #353430;
    --color-shadow: #ff8dcb;

    .rec-decorator {
      display: none;
    }
  }
}
