.page {
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
}

.rec-decorator {
  position: absolute;
  color: #ff0070;
  top: 10px;
  right: 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.rec-decorator::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: 0 0 10px #ff0070;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-section);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  padding: 75px 10px 66px 10px;
}

.header__description-container {
  display: flex;
  flex-direction: column;
  align-self: end;
}

.header__description {
  align-self: end;
  width: 100%;
  max-width: 355px;
  background-color: var(--highlight-color);
  color: var(--color-heading);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
}

.content__section {
  margin-bottom: 32px;
  padding-inline: 20px;
  padding: 0 10px 0 10px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: start;
  margin-top: 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 70px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: var(--color-section);
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  transition: 0.3s;
  padding: 0 13px 0 13px;
}

.header__theme-menu-button_active {
  border-color: var(--color-section);
  pointer-events: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border-color: color-mix(in srgb, var(--color-section), transparent 60%);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-section);
}

.content__link {
  text-decoration: none;
  color: var(--color-text);
  text-shadow: 2px 2px 0 var(--color-shadow);
}

.content__link:hover {
  border-bottom: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.header__title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  color: var(--accent-color);
  text-shadow: 4px 4px 0 var(--color-shadow);
  line-height: 0.83;
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  padding: 0;
  margin: 0;
  inline-size: 100%;
}

.why__title {
  padding-top: 40px;
  padding-left: 0;
}

.section-advice {
  min-width: 355px;
}

.content__section-title {
  color: var(--color-section);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
  margin-bottom: 18px;
  max-width: 300px;
}

.content__card-title {
  color: var(--color-heading);
  background-color: var(--highlight-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  margin: 0;
}

.gallery__title {
  margin-bottom: 10px;
  margin-top: 0;
}

.advice__title {
  padding: 2px 0;
  margin-bottom: 20px;
}

.content__section-subtitle {
  padding-top: 0;
  padding-bottom: 0;
  color: #000028;
  background-color: var(--highlight-color);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
}

.content__card-text {
  color: var(--color-text);
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.content__gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content__section:has(+ .image__section) {
  margin-bottom: 27px;
}

.footer {
  height: 100vh;
  min-height: 667px;
  display: grid;
  place-content: center;
  position: relative;
  margin-top: 40px;
}

.footer__title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 0.83;
  color: var(--accent-color);
  text-shadow: 4px 4px 0 var(--color-shadow);
  text-transform: lowercase;
  margin: 0;
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec-decorator {
    top: 20px;
    right: 29px;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-height: 1024px;
    padding: 192px 20px 183px 0;
  }

  .header__title {
    grid-column: -1/1;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__description-container {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    align-self: end;
  }
  .header__description {
    grid-row: 3;
    max-width: 364px;
    max-height: 117px;
    grid-column: 2;
    justify-self: end;
  }

  .why__title {
    padding-top: 0;
  }

  .section-advice {
    min-width: 236px;
  }

  .gallery__title {
    margin-bottom: 22px;
    margin-top: 0;
  }

  .advice__title {
    padding: 2px 0;
    margin-bottom: 17px;
  }

  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 0;
    padding: 0 20px 0 20px;
  }

  .content__section-title {
    max-width: 210px;
  }

  .reasons__section .content__section-list {
    grid-column: -1/1;
  }

  .reasons__section {
    gap: 0;
  }

  .content__card-title {
    grid-column: -1/1;
  }

  .content__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
    min-height: 780px;
  }

  .image__section {
    display: block;
    margin-top: 60px;
  }

  .content__image_type_sunset {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }

  .content__image_type_ice-cream {
    grid-row: 1 / 3;
    grid-column: 3 / 4;
  }

  .content__image_type_tape {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .content__image_type_books {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }

  .content__image_type_street {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    padding: 20px 20px 134px 0;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
  }

  .header__title {
    justify-self: end;
    align-self: end;
    margin-top: 120px;
  }

  .content__section-title {
    max-width: 315px;
  }

  .header__description-container {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: end;
  }

  .header__description {
    max-width: 491px;
  }

  .content__section {
    grid-template-columns: 1fr 648.92px;
  }

  .why__section,
  .how__section .content__section-list {
    grid-column: 2/-1;
  }

  .reasons__section .content__section-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .footer__title {
    margin-top: 2px;
  }
}
